name: Create conda package for carma

on:
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: Linux
            runner: ubuntu-latest
            target-platform: linux-64
          - os: MacOS
            runner: macos-latest
            target-platform: osx-arm64
          - os: Windows
            runner: windows-latest
            target-platform: win-64

    steps:
      - uses: actions/checkout@v6

      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: latest
          activate-environment: packaging

      - name: Conda build and upload
        shell: bash -l {0}
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_API_TOKEN }}
        run: |
          conda update --all -y
          conda install -y python=3.11 conda-build anaconda-client conda-verify
          conda-build carma.recipe -c conda-forge -c set3mah --output-folder .
          anaconda upload ${{ matrix.target-platform }}/*.conda --force
