name: Build & Test

on:
  workflow_dispatch:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: read
  actions: read

jobs:
  build-and-test:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: Linux
            runner: ubuntu-latest
            environment-file: environment.yml
            shell: bash -l {0}
          - os: MacOS
            runner: macos-latest
            environment-file: environment_arm64.yml
            shell: bash -l {0}
          - os: Windows
            runner: windows-latest
            environment-file: environment_win.yml
            shell: pwsh

    defaults:
      run:
        shell: ${{ matrix.shell }}

    steps:
      - uses: actions/checkout@v6

      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: "latest"
          activate-environment: foo
          python-version: "3.14"
          environment-file: ${{ matrix.environment-file }}
          channels: conda-forge,set3mah

      - name: Prepare conda environment (Unix)
        if: runner.os != 'Windows'
        run: |
          conda config --env --add channels conda-forge
          conda config --env --add channels set3mah
          conda config --env --set channel_priority strict

      - name: Build (Unix)
        if: runner.os != 'Windows'
        run: |
          cmake -S . -B build -G Ninja \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INCLUDE_PATH=$CONDA_PREFIX/include \
            -DCMAKE_LIBRARY_PATH=$CONDA_PREFIX/lib \
            -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX \
            -Wno-dev
          cmake --build build

      - name: Build (Windows)
        if: runner.os == 'Windows'
        run: |
          cmake -S . -B build `
              -DCMAKE_BUILD_TYPE=Release `
              -DCMAKE_INSTALL_PREFIX="$env:CONDA_PREFIX/Library" `
              -Wno-dev
          cmake --build build --config Release

      - name: Tests (Unix)
        if: runner.os != 'Windows'
        run: ctest --test-dir build --output-on-failure

      - name: Tests (Windows)
        if: runner.os == 'Windows'
        run: ctest --test-dir build -C Release --output-on-failure -VV

      - name: Upload test logs as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-logs-${{ matrix.os }}
          path: build/Testing/Temporary/LastTest.log
          retention-days: 7
