name: Conda packaging

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "CMakeLists.txt"
      - "**/CMakeLists.txt"
      - "conda.recipe/**"
      - ".github/workflows/conda-packaging.yml"
      - "environment*.yml"

permissions:
  contents: read
  actions: read

jobs:
  build:
    if: false  # Temporarily disabled to test carma fix
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: Linux
            runner: ubuntu-latest
            target-platform: linux-64
          - os: MacOS
            runner: macos-latest
            target-platform: osx-arm64
          - os: Windows
            runner: windows-latest
            target-platform: win-64

    steps:
      - uses: actions/checkout@v5
      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          activate-environment: packaging
          auto-update-conda: true
          conda-solver: libmamba

      - name: Conda build
        env:
          CONDA_BUILD_LOCAL: ${{ github.event_name == 'pull_request' && '1' || '' }}
        run: |
          conda install -y conda-build
          conda build conda.recipe -c conda-forge -c set3mah --output-folder .

      - name: Upload to Anaconda
        if: github.event_name == 'workflow_dispatch'
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_API_TOKEN }}
        run: |
          conda install -y anaconda-client
          anaconda upload ${{ matrix.target-platform }}/*.conda --force --no-progress
