name: Release

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  conda-packaging:
    uses: ./.github/workflows/conda-packaging.yml
    permissions:
      contents: read
      actions: read
    with:
      upload: true
      ref: ${{ github.ref }}
    secrets:
      ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_API_TOKEN }}

  build-wheels:
    uses: ./.github/workflows/wheels.yml
    permissions:
      contents: read
      id-token: write
    with:
      publish_pypi: true
